{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
	<div id="pagination">
		{{ $prev := "fa fa-chevron-left"}}
		{{ $next := "fa fa-chevron-right"}}
	
		{{ if .Paginator.HasPrev }}
			<a class="paginatelink" href="{{ .Paginator.Prev.URL }}"><i class="{{ $prev }}"></i>Newer Posts</a>
		{{ else }}
			<i class="{{ $prev }}"></i>Newer Posts
		{{ end }}

		{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}

		{{ if .Paginator.HasNext }}
			<a class="paginatelink" href="{{ .Paginator.Next.URL }}">Older Posts <i class="{{ $next }}"></i></a>
		{{ else }}
			Older Posts <i class="{{ $next }}"></i>
		{{ end }}

	</div>
{{ end }}
<br>